// Variables
:root {
  // Colors
  --primary_color: rgba(255, 180, 0, 1);
  --primary_color_2: rgba(255, 180, 0, 0.95);
  --black: rgba(43, 43, 43, 1);
  --dark: rgba(24, 25, 26, 1);
  --dark2: rgba(58, 59, 60, 1);
  --dark3: rgba(36, 37, 38, 1);
  --text_color: rgba(118, 118, 118, 1);
  --secondary_color: rgba(240, 240, 246, 1);
  --secondary_color_2: rgba(228, 230, 235, 1);
  --white: rgba(255, 255, 255, 1);

  //  Font Size
  --fs-10: 10px;
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-16: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;

  //  Font Weight
  --fw-100: 100;
  --fw-300: 300;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;

  //  Shadow
  --box_shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

  //   Background Color
  --bg-light: #e1e1e1;
}
