@use './Assets/Css/partials/index';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');

// Sass Variables
$body_bg_light: var(--bg-light);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: $body_bg_light;
}
